<template>
	<svg
		viewBox="0 0 24 24"
		xmlns="http://www.w3.org/2000/svg"
		height="48"
		width="48"
		:fill="color"
		:style="{
			transform: `scale(${scale}) translate(${offsetX}rem,${offsetY}rem)`,
		}"
	>
		<path d="m3 0v12l9-6zm0 12v12l9-6zm9-6v12l9-6z" />
	</svg>
</template>
<script setup lang="ts">
const props = defineProps({
	color: {
		type: String,
		default: "#000000",
	},
	scale: {
		type: String,
		default: "0.5",
	},
	offsetX: {
		type: String,
		default: "0",
	},
	offsetY: {
		type: String,
		default: "0",
	},
});
</script>
