<template>
	<v-container>
		<v-row>
			<v-col cols="6">
				<v-card :elevation="4">
					<v-card-title>About Me</v-card-title>
					<v-divider></v-divider>
					<v-card-text>Freach, An Anarchist Hacker</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>
<style lang="sass" scoped></style>
