<template>
	<v-container>
		<v-row>
			<v-col>
				<h1 class="text-center text-primary mb-3">
					Welcome to my site
				</h1>
				<h2 class="text-center text-primary mb-3">- Freach -</h2>
				<h2 class="text-center text-primary mb-3">
					Its under building
				</h2>
				<h2 class="text-center text-primary mb-3">
					code is here <a href="https://lazulis.frcsm.de/cgit/freach/www-frc.git">here</a>
				</h2>
			</v-col>
		</v-row>
		<v-row>
			<v-col class="d-flex justify-center">
				<v-btn
					icon
					size="small"
					href="mailto:freach@freach.ltd"
					class="mr-5"
				>
					<!-- SVG -->
					<!-- color: color hex code -->
					<!-- scale: the size of the the image (massured in scale) default value: 0.5 -->
					<!-- offsetX: the offset value in x-axis (Unit: rem  1rem = 16px) -->
					<!-- offsetY: the offset value in y-axis -->
					<email color="#388E3C" offsetY="-0.4"></email>
				</v-btn>
				<v-btn
					icon
					size="small"
					class="mr-5"
					href="mailto:@jiderlesi@chaos.social"
				>
					<mastodon color="#388E3C" offsetY="-0.4"></mastodon>
				</v-btn>
				<v-btn
					icon
					size="small"
					href="https://kolektiva.media/a/jiderlesi"
				>
					<peertube color="#388E3C" offsetY="-0.4" offsetX="0.3"></peertube>
				</v-btn>
			</v-col>
		</v-row>
	</v-container>
</template>

<script setup lang="ts"></script>
